<!DOCTYPE html>
<html>
  <main>
    <div id="content" class="container" style="height: fit-content">
      <div id="intro">
        <p>Welcome to the eNational Library website</p>
      </div>
    </div>
  </main>
</html>
